// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Default Colors
$red:               #C00000;
$light-grey:        #f2f2f2;
$medium-grey:       #999999;
$dark-grey:         #777777;
$darkest-grey:      #414141;

// sideHSTL Colors
$dark-navy:         #0f0b38;
$light-navy:        #2d2c4f;
$brand-orange:      #e16d0f;
$brand-dark-orange: #5b2400;
$brand-blue:        #29abe2;
$brand-dark-blue:   #2e3192;
$brand-green:       #39b54a;
$brand-dark-green:  #003d20;
