// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Default Colors
$red:               #C00000;
$light-grey:        #f2f2f2;
$medium-grey:       #999999;
$dark-grey:         #777777;
$darkest-grey:      #333333;

// sideHSTL Colors
$dark-navy:         #0f0b38;
$light-navy:        #2d2c4f;
