// -----------------------------------------------------------------------------
// Global Styles
// -----------------------------------------------------------------------------
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {

	main {
		margin-top: 102px;

		@include media-breakpoint-up(lg) {
			margin-top: 88px;
		}
	}
}

section {
	padding: 60px 0;
}

hr {
	border-width: 2px;
	margin: 50px 0;
}

a {
	color: $dark-navy;

	&:hover {
		color: lighten($dark-navy, 15%);
	}
}

img {
	width: 100%;
	height: auto;
}

// Override BS
.card-deck {
	display: block;

	@include media-breakpoint-up(lg) {
		display: flex;
	}

	.card {
		border: 0;
		background: none;
		margin: 0 0 50px 0;

		@include media-breakpoint-up(lg) {
			flex: initial;
			width: 50%;
		}

		@include media-breakpoint-up(xl) {
			width: 33.33%;
		}
	}
}
