// -----------------------------------------------------------------------------
// Contact page
// -----------------------------------------------------------------------------

.contact-hero {
	background-image: url('../images/contact-hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	height: 250px;
	position: relative;

	@include media-breakpoint-up(md) {
		height: 350px;
	}

	&::after {
		content: " ";
		z-index: 10;
		display: block;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		background: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(27,20,100,1) 100%);
	}

	&__title {
		background-color: rgba(15, 11, 56, 0.25);
		padding: 20px 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 100;

		.container {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				right: 20px;
				bottom: -58px;
				height: 80px;
				width: 80px;
				border-radius: 50%;
				border: 5px solid $dark-navy;
				z-index: 200;
				background-color: #fff;
				background-image: url('../images/svg/contact-badge.svg');
				background-size: 65%;
				background-position: center 32px;
				background-repeat: no-repeat;

				@include media-breakpoint-up(md) {
					bottom: -67px;
					right: 0;
					height: 100px;
					width: 100px;
				}
			}
		}
	}
}



.contact-body {
	background-color: $light-grey;

	h2 {
		color: $dark-navy;
		margin-bottom: 50px;
	}

	&__content {

		@include media-breakpoint-up(lg) {
			display: flex;
		}

		&__form {
			border: 1px solid blue;
			padding-bottom: 30px;
			margin-bottom: 30px;
			border-bottom: 2px solid #d9d9d9;

			@include media-breakpoint-up(lg) {
				width: 50%;
				padding-bottom: 0;
				padding-right: 40px;
				margin-bottom: 0;
				border: none;
			}

			// Cognito Form
			.cognito {
				background-color: #f2f2f2;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					height: 29px;
					width: 100%;
					bottom: 0;
					background-color: $light-grey;
				}

				.c-forms-heading {

					.c-forms-form-title {
						display: none;
					}
				}

				.c-forms-form-body, .c-forms-form {
					background-color: #f2f2f2;
				}

				.c-span-24 {

					.c-span-12 {
						width: 100%;
					}
				}

				label {
					display: inline-block;
				}

				.c-forms-form :not(.c-question) > .c-label {
					color: $darkest-grey;
					font-family: 'PT Mono', monospace;
					@include font-size(18px);
					margin-bottom: 0;
				}

				.c-editor.c-columns-0 > div,
				.cognito .c-editor .c-columns-0 > div {
					float: none;
				}

				.c-choice-checkboxes {

					.c-label {
						padding-bottom: 15px;
					}

					.c-editor {
						margin-bottom: 20px;
						padding: 0;
					}
				}

				.c-choice-option {
					padding: 8px 12px 8px 12px;
					border-radius: 8px;
					margin-bottom: 2px;

					> label {
						margin-bottom: 0;
						padding: 0px 0 0px 30px;
					}

					&.c-checked {
						background: #e4e4e4;
					}
				}

				.c-forms-form .c-button-section button:not(.c-icon-button) {
					background: none;
					display: inline-block;
					@include brand-btn;
				}

				input[type="text"],
				textarea {
					background: #fff;
					border-radius: 8px;
					border: none;
					outline: none;
					padding: 10px 12px;
					@include font-size(18px);
					border: 2px solid #fff;
					margin-bottom: 25px;

					&:focus {
						border: 2px solid $dark-navy;
						outline: none;
					}
				}

				textarea {
					height: 230px;
					margin-bottom: 10px;
				}

				.c-forms-confirmation {
					overflow: visible;

					.c-forms-confirmation-message {
						padding: 25px 25px 25px 40px;
						font-size: 18px;
						background-color: rgba(57, 181, 74, 0.2);
						border-radius: 8px;
						color: $brand-dark-green;
						font-weight: bold;
						margin-bottom: 30px;

						span {

							p {
								margin-bottom: 0;
								position: relative;
								padding-left: 30px;

								&::before {
									content: "\f00c";
									font-family: FontAwesome;
									height: 28px;
									width: 28px;
									border: 2px solid $brand-dark-green;
									color: $brand-dark-green;
									border-radius: 50%;
									position: absolute;
									left: -10px;
									top: -4px;
									font-style: normal;
									font-weight: normal;
									text-decoration: inherit;
									font-size: 16px;
									padding-top: 1px;
									text-align: center;
								}
							}
						}
					}
				}

				.c-forms-form-details {
					background-color: #fff;
					padding: 20px 30px;
					margin-top: 60px;
					border-radius: 8px;
					box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
					position: relative;
					z-index: 1;

					&::before {
						content: "Your Message:";
						position: absolute;
						top: -30px;
						left: 0;
					}

					.c-field {
						margin: 5px 0;
					}

					.c-content {
						color: $dark-grey;
						@include font-size(16);
						padding-left: 10px;
					}

					.c-choice-checkboxes {

						.c-editor {
							margin-bottom: 0;
						}

						.c-choice-option {
							padding: 0 0 0 10px;

							label {
								font-family: Arial,Helvetica,sans-serif;
								font-weight: 400;
								color: $dark-grey;
								@include font-size(16);
								padding-left: 10px;
							}
						}

						.c-label {
							padding: 0 8px 2px 8px;
						}
					}
				}
			}
		}

		&__map {

			@include media-breakpoint-up(lg) {
				width: 50%;
				padding-left: 40px;
			}

			.map-wrapper {
				border-radius: 8px;
				overflow: hidden;
				box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
				margin-bottom: 25px;
			}
		}
	}
}
