// -----------------------------------------------------------------------------
// Visual Design page
// -----------------------------------------------------------------------------

.visual-design-hero {
	background-image: url('../images/visual-design-hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	height: 180px;
	position: relative;

	@include media-breakpoint-up(md) {
		height: 300px;
	}

	&::after {
		content: " ";
		z-index: 10;
		display: block;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		background: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(27,20,100,1) 100%);
	}

	&__title {
		background-color: rgba(15, 11, 56, 0.25);
		padding: 20px 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 100;

		.container {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				right: 20px;
				bottom: -40px;
				height: 40px;
				width: 40px;
				border-radius: 50%;
				box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
				z-index: 200;
				background-color: #fff;
				background-image: url('../images/svg/visual-design-badge.svg');
				background-size: 50%;
				background-position: center 10px;
				background-repeat: no-repeat;

				@include media-breakpoint-up(md) {
					bottom: -64px;
					height: 90px;
					width: 90px;
					background-size: 60%;
					background-position: center 15px;
				}
			}
		}
	}
}

.visual-design-intro {
	background-color: $dark-navy;
	color: $light-grey;


	@include media-breakpoint-up(md) {
		padding-top: 80px;
	}

	.container {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			bottom: -50px;
			left: 50%;
			z-index: 200;
			width: 30px;
			height: 30px;
			margin-left: -15px;
			background-image: url('../images/svg/arrow-down.svg');
			background-size: 25px;
			background-position: center 10px;
			background-repeat: no-repeat;
		}
	}

	&__contents {

		@include media-breakpoint-up(lg) {
			display: flex;
		}

		&__body {
			color: #fff;
			margin-bottom: 50px;

			h2 {
				@include hr-rule($light-navy);
			}

			p {
				color: $light-grey;
			}

			@include media-breakpoint-up(lg) {
				width: 50%;
				margin-bottom: 0;
				padding-right: 50px;
			}
		}

		&__visual {

			@include media-breakpoint-up(lg) {
				width: 50%;
				padding-left: 50px;
			}
		}
	}
}

.visual-design-body {
	background-color: $light-grey;

	h2 {
		color: $dark-navy;
		margin-bottom: 50px;
	}

	// Override BS
	.card-deck {
		display: block;

		@include media-breakpoint-up(lg) {
			display: flex;
		}

		.card {
			opacity: 0;
			border: 0;
			background: none;
			margin: 0 0 60px 0;

			@include media-breakpoint-up(lg) {
				flex: initial;
				width: 50%;
			}

			@include media-breakpoint-up(xl) {
				width: 33.33%;
			}

			&[data-emergence="visible"] {
				-webkit-animation-name: fadeInUp;
				animation-name: fadeInUp;
			}
		}
	}

	.visual-design-card {
		@include service-card;

		&--logos {
			&::after {
				background-image: url('../images/svg/services-logos.svg');
			}
		}

		&--branding {
			&::after {
				background-image: url('../images/svg/services-branding.svg');
			}
		}

		&--illustration {
			&::after {
				background-image: url('../images/svg/services-illustration.svg');
			}
		}

		&--vector-artwork {
			&::after {
				background-image: url('../images/svg/services-vector-artwork.svg');
			}
		}

		&--website-design {
			&::after {
				background-image: url('../images/svg/services-website-design.svg');
				background-size: 25px;
			}
		}

		&--iconography {
			&::after {
				background-image: url('../images/svg/services-iconography.svg');
			}
		}

		&--business-cards {
			&::after {
				background-image: url('../images/svg/services-business-cards.svg');
			}
		}

		&--stationary {
			&::after {
				background-image: url('../images/svg/services-stationary.svg');
				background-size: 25px;
			}
		}

		&--flyers {
			&::after {
				background-image: url('../images/svg/services-flyers.svg');
				background-size: 25px;
			}
		}

		&--brochures {
			&::after {
				background-image: url('../images/svg/services-brochures.svg');
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			height: 100%;

			&__heading {

				h3 {
					@include font-size(28px);
					@include hr-rule($light-grey);
					color: $dark-navy;
				}
			}

			&__body {
				margin-bottom: 30px;
			}

			&__footer {
				display: flex;
				justify-content: space-between;

				a {
					@include brand-btn($dark-navy, #fff);
				}

				span {
					@include price-badge;
				}
			}
		}
	}
}
