// -----------------------------------------------------------------------------
// Visual Design page
// -----------------------------------------------------------------------------

.visual-design-hero {
	background-image: url('../images/visual-design-hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	height: 400px;
	position: relative;

	&::after {
		content: " ";
		z-index: 10;
		display: block;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		background: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(27,20,100,1) 100%);
	}

	&__title {
		background-color: rgba(15, 11, 56, 0.4);
		padding: 20px 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 100;

		h1 {
			font-size: 68px;
			margin: 0;
		}
	}
}

.visual-design-intro {
	background-color: $dark-navy;
	color: $light-grey;

	.container {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: -100px;
			height: 100px;
			width: 100px;
			border-radius: 50%;
			border: 5px solid $dark-navy;
			z-index: 200;
			background-color: #fff;
			background-image: url('../images/svg/visual-design-badge.svg');
			background-size: 55px;
			background-position: center 15px;
			background-repeat: no-repeat;
		}
	}

	&__contents {

		@include media-breakpoint-up(lg) {
			display: flex;
		}

		&__body {
			color: #fff;

			h2 {
				@include hr-rule($light-navy);
			}

			p {
				color: $light-grey;
				padding-right: 50px;
			}

			@include media-breakpoint-up(lg) {
				width: 50%;
			}
		}

		&__visual {

			@include media-breakpoint-up(lg) {
				width: 50%;
				padding-left: 50px;
			}
		}
	}
}

.visual-design-body {
	background-color: $light-grey;
}
