<!--- Footer --->
<footer class="footer pt-5 pb-5 text-center">
	<div class="container">
		<div class="footer-contents">
			<div class="footer-contents__copyright">
				<p>
					&copy; 2020 Derick Moncado
				</p>
			</div>
			<div class="footer-contents__links">
				<ul>
					<li>
						<a href="/about.html" title="About">About</a>
					</li>
					<li>
						<a href="/portfolio.html" title="Portfolio">Portfolio</a>
					</li>
					<li>
						<a href="#" title="Shop">Shop</a>
					</li>
					<li>
						<a href="/contact.html" title="Contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!--- Scripts --->
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/vendor/js/slick.js"></script>
<script src="{{root}}assets/js/custom.js"></script>
<!-- endbuild -->
