<!--- Navigation --->
<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container">
		<a class="navbar-brand" href="index.html">
			<img src="assets/images/svg/sideHSTL-logo-white-2.svg" width="150" height="auto" alt="sideHSTL Logo">
			<span class="sr-only">sideHSTL</span>
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-default" aria-controls="navbars-default" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbars-default">
			<ul class="navbar-nav ml-auto align-items-center">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" title="Services Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="visual-design.html" title="Visual Design">Visual Design</a>
						</li>
						<li>
							<a class="dropdown-item" href="web-development.html" title="Web Development">Web Development</a>
						</li>
						<li>
							<a class="dropdown-item" href="photo-and-video.html" title="Photo and Video">Photo & Video</a>
						</li>
						<li>
							<a class="dropdown-item" href="bundles.html" title="Bundles">Bundles</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html" title="About">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="portfolio.html" title="Portfolio">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact.html" title="Contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
