<!--- Recent Projects (About) --->
<section class="recent-projects recent-projects--about">
	<div class="container">
		<h2>Recent Projects</h2>

		<div class="card-deck">
			<div class="card animated delay-05s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="/logos-and-branding.html" title="">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--logos-and-branding.jpg">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="/logos-and-branding.html" title="">Logos and Branding</a></h3>
								<p>Various logo designs and branding and identity packages</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="/logos-and-branding.html" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card animated delay-05s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="/vpc-website.html" title="">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--vpc-website.jpg">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="/vpc-website.html" title="">VPC Website</a></h3>
								<p>VPC's primary website and online catalog</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="/vpc-website.html" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
