<!--- Recent Projects - Home (Featured Work) --->
<section class="recent-projects recent-projects--home">
	<div class="container">
		<h2>Featured Work</h2>

		<div class="card-deck">
			<div class="card animated delay-025s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="../muracon-website.html" title="View Muracon Project">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--muracon-website.jpg" alt="Muracon Website">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="../muracon-website.html" title="View Muracon Project">Muracon</a></h3>
								<p>Website development for a 2-day tech conference in Sacramento, CA</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="../muracon-website.html" title="View Muracon Project"><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card animated delay-05s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="/logos-and-branding.html" title="View Logos and Branding">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--logos-and-branding.jpg" alt="Logos and Branding">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="/logos-and-branding.html" title="View Logos and Branding">Logos and Branding</a></h3>
								<p>Various logo designs and branding and identity packages</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="/logos-and-branding.html" title="View Logos and Branding"><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card animated delay-025s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="/illustrations.html" title="View Illustrations">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--cado.jpg" alt="Illustrations">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="/illustrations.html" title="View Illustrations">Illustrations</a></h3>
								<p>Original illustrations and vector artwork</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="/illustrations.html" title="View Illustrations"><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card animated delay-05s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="/headshots.html" title="View Headshots">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--headshots.jpg" alt="Headshots and Portraits">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="/headshots.html" title="View Headshots">Headshots and Portraits</a></h3>
								<p>A small collection of headshots and portraits</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="/headshots.html" title="View Headshots"><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
