<!--- Recent Projects (Web Development) --->
<section class="recent-projects recent-projects--web-development">
	<div class="container">
		<h2>Recent Projects</h2>

		<div class="card-deck">
			<div class="card animated delay-025s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="../muracon-website.html" title="View Muracon Project">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--muracon-website.jpg" alt="Muracon">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="../muracon-website.html" title="View Muracon Project">Conference Site</a></h3>
								<p>Website development for a 2-day tech conference in Sacramento, CA</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="../muracon-website.html" title="View Muracon Project"><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card animated delay-05s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="../canp-website.html" title="View CANP Project">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--canp-website.jpg" alt="CANP Website">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="../canp-website.html" title="View CANP Project">CANP Website</a></h3>
								<p>California Association of Nurse Practitioners wesbite</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="../canp-website.html" title="View CANP Project"><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
