<!--- Recent Projects - Home (Featured Work) --->
<section class="recent-projects">
	<div class="container">
		<h2>Featured Work</h2>

		<div class="card-deck">
			<div class="card">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<div class="portfolio-card__content__visual">
							<a href="#" title=""><img src="//via.placeholder.com/550x300"></a>
						</div>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="#" title="">Title</a></h3>
								<p>Cum sociis natoque penatibus et magnis.</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="#" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<div class="portfolio-card__content__visual">
							<a href="#" title=""><img src="//via.placeholder.com/550x300"></a>
						</div>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="#" title="">Title</a></h3>
								<p>Cum sociis natoque penatibus et magnis.</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="#" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<div class="portfolio-card__content__visual">
							<a href="#" title=""><img src="//via.placeholder.com/550x300"></a>
						</div>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="#" title="">Title</a></h3>
								<p>Cum sociis natoque penatibus et magnis.</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="#" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<div class="portfolio-card__content__visual">
							<a href="#" title=""><img src="//via.placeholder.com/550x300"></a>
						</div>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="#" title="">Title</a></h3>
								<p>Cum sociis natoque penatibus et magnis.</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="#" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
