<!--- Recent Projects (Photo and Video) --->
<section class="recent-projects recent-projects--photo-and-video">
	<div class="container">
		<h2>Recent Projects</h2>

		<div class="card-deck">
			<div class="card animated delay-025s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="headshots.html" title="View Headshots and Portraits">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--headshots.jpg" alt="Headshots">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="headshots.html" title="View Headshots and Portraits">Headshots & Portraits</a></h3>
								<p>A small collection of headshots and portraits</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="headshots.html" title="View Headshots and Portraits"><img src="assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card animated delay-05s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="ecommerce-ad.html" title="View Video for e-commerce store">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--ecommerce-ad.jpg" alt="Ecommerce Ad Screenshot">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="ecommerce-ad.html" title="View Video for e-commerce store">Online Fashion Boutique Ad</a></h3>
								<p>Annoucement video for an online eCommerce fashion boutique</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="ecommerce-ad.html" title="View Video for e-commerce store"><img src="assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
