<!--- Recent Projects - Home (Featured Work) --->
<section class="recent-projects recent-projects--home">
	<div class="container">
		<h2>Featured Work</h2>

		<div class="card-deck">
			<div class="card animated delay-025s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="#" title="">
							<div class="portfolio-card__content__visual">
								<img src="//via.placeholder.com/550x300">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="#" title="">Title</a></h3>
								<p>Cum sociis natoque penatibus et magnis.</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="#" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card animated delay-05s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="/logos-and-branding.html" title="">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--logos-and-branding.jpg">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="/logos-and-branding.html" title="">Logos and Branding</a></h3>
								<p>Various logo designs and branding case studies</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="/logos-and-branding.html" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card animated delay-025s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="/illustrations.html" title="">
							<div class="portfolio-card__content__visual">
								<img src="assets/images/recent-work--cado.jpg">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="/illustrations.html" title="">Illustrations</a></h3>
								<p>Original vectors illustrations and art</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="/illustrations.html" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card animated delay-05s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="#" title="">
							<div class="portfolio-card__content__visual">
								<img src="//via.placeholder.com/550x300">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="#" title="">Title</a></h3>
								<p>Cum sociis natoque penatibus et magnis.</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="#" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
