<!--- Recent Projects (Visual Design) --->
<section class="recent-projects recent-projects--visual-design">
	<div class="container">
		<h2>Recent Projects</h2>

		<div class="card-deck">
			<div class="card animated delay-025s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="#" title="">
							<div class="portfolio-card__content__visual">
								<img src="//via.placeholder.com/550x300">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="#" title="">Title</a></h3>
								<p>Cum sociis natoque penatibus et magnis.</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="#" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card animated delay-05s" data-emergence="hidden">
				<div class="portfolio-card">
					<div class="portfolio-card__content">
						<a href="#" title="">
							<div class="portfolio-card__content__visual">
								<img src="//via.placeholder.com/550x300">
							</div>
						</a>
						<div class="portfolio-card__content__title">
							<div class="portfolio-card__content__title__details">
								<h3><a href="#" title="">Title</a></h3>
								<p>Cum sociis natoque penatibus et magnis.</p>
							</div>
							<div class="portfolio-card__content__title__action">
								<a href="#" title=""><img src="../assets/images/svg/arrow-right.svg" alt="View This Project"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
