<!--- Services Section --->
<section class="services-section">
	<div class="container">
		<h2>Services Offered</h2>

		<div class="card-deck">
			<div class="card">
				<div class="services-card services-card--visual-design animated fast" data-emergence="hidden">
					<div class="services-card__content">
						<div class="services-card__content__heading">
							<h3>Visual<br />Design</h3>
						</div>
						<div class="services-card__content__body">
							<p>Sleek solutions for any business or product, I promise that this is a <em>Comic Sans</em> free zone.</p>
							<ul>
								<li>Graphic & Print Design</li>
								<li>Branding + Identity</li>
								<li>Custom Illustration</li>
								<li>UI / UX Design</li>
								<li>Logos and more</li>
							</ul>
						</div>
						<div class="mt-auto services-card__content__footer">
							<a href="visual-design.html" title="Explore design services">Explore</a>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="services-card services-card--web-development animated fast delay-05s" data-emergence="hidden">
					<div class="services-card__content">
						<div class="services-card__content__heading">
							<h3>Web<br />Development</h3>
						</div>
						<div class="services-card__content__body">
							<p>I can't build the next Facebook, but I can create something sleek, custom, and tailored just for you.</p>
							<ul>
								<li>Custom Websites</li>
								<li>Landing Pages</li>
								<li>Marketing Sites</li>
								<li>Fully Responsive</li>
								<li>Optimization + SEO</li>
							</ul>
						</div>
						<div class="mt-auto services-card__content__footer">
							<a href="web-development.html" title="Explore web development services">Explore</a>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="services-card services-card--photo-and-video animated fast delay-1s" data-emergence="hidden">
					<div class="services-card__content">
						<div class="services-card__content__heading">
							<h3>Video &<br />Photography</h3>
						</div>
						<div class="services-card__content__body">
							<p>Content is King. I can shoot, film, and edit great images and video for your idea or business.</p>
							<ul>
								<li>Portraits / Headshots</li>
								<li>Videography</li>
								<li>Product Photography</li>
								<li>Editing + Retouching</li>
								<li>Content Creation</li>
							</ul>
						</div>
						<div class="mt-auto services-card__content__footer">
							<a href="photo-and-video.html" title="Explore video and photograhy services">Explore</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
