// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
	background-color: $dark-navy;
	color: #fff;

	.container {

		.footer-contents {
			text-align: center;

			@include media-breakpoint-up(xl) {
				display: flex;
			}

			&__copyright {

				@include media-breakpoint-up(xl) {
					display: flex;
					align-items: center;
					width: 50%;
					text-align: left;

					p {
						padding: 20px 0;
						margin-bottom: 0;
					}
				}
			}

			&__links {

				@include media-breakpoint-up(xl) {
					width: 50%;
				}

				ul {
					@include clear-ul;

					@include media-breakpoint-up(xl) {
						display: flex;
						justify-content: flex-end;
					}

					li {

						@include media-breakpoint-up(xl) {
							display: flex;
							align-items: center;
						}

						a {
							display: inline-block;
							color: inherit;
							padding: 15px 0;

							@include media-breakpoint-up(xl) {
								padding: 20px 25px;
							}
						}

						&.divider {
							border-right: 2px solid #fff;
							opacity: 0.2;
							margin: 0px 20px;
						}

						&.social {

							a {
								font-size: 30px;
								display: inline-block;

								&:hover {
									opacity: 1;
								}
							}
						}

						&:last-child {

							a {
								padding-right: 0;
							}
						}
					}
				}
			}
		}
	}
}
