// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------

.navbar {
	padding: 12px 0;
	background: #ccc;

	.container {

		.navbar-collapse {

			.navbar-nav {

				li {

					a {
						color: #fff;
						padding: 0 25px;
					}
				}
			}
		}
	}
}

.fixed-top {
	border-bottom: 1px solid $light-grey;
}
