// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------

.navbar {
	padding: 20px;
	background: #ccc;
	color: #fff;
}

.fixed-top {
	border-bottom: 1px solid $light-grey;
}
