// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------

.navbar {
	padding: 0;
	background-color: $dark-navy;
	border-bottom: 1px solid $light-navy;
	padding: 30px 15px;

	@include media-breakpoint-up(lg) {
		padding: 0;
	}

	.container {

		.navbar-brand {
			padding: 0;

			img {
				max-width: 180px;
				height: 50px;
			}
		}

		.navbar-toggler-icon {
			background-image: url('../images/svg/hamburger-menu.svg');
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
		}

		.navbar-collapse {
			background-color: $dark-navy;
			margin-top: 15px;

			@include media-breakpoint-up(lg) {
				margin-top: 0;
			}

			.navbar-nav {

				.nav-item {
					border-right: 1px solid $dark-navy;
					width: 100%;
					text-align: center;

					a {
						color: #fff;
						padding: 30px 25px;
					}

					> .nav-link {

						&::after {
							vertical-align: 3px;
						}
					}

					&:hover {
						background-color: $light-navy;
					}

					&.active {
						background-color: $light-navy;

						a {
							font-weight: bold;
						}
					}

					.dropdown-menu {
						background-color: $light-navy;
						border: none;
						text-align: center;
						margin-top: 0;

						@include media-breakpoint-up(lg) {
							@include border-top-radius(0px);
							@include border-bottom-radius(6px);
						}

						li {

							.dropdown-item {
								padding: 30px 25px;

								@include media-breakpoint-up(lg) {
									padding: 10px 33px;
									text-align: left;
								}

								&:hover {
									background-color: lighten($light-navy, 5%);
								}

								&.active {
									background-color: lighten($light-navy, 5%);
									font-weight: bold;
								}
							}
						}
					}
				}
			}
		}
	}
}
