// -----------------------------------------------------------------------------
// Recent Projects
// -----------------------------------------------------------------------------

.recent-projects {
	background-color: #e6e6e6;

	.container {

		h2 {
			color: $dark-navy;
		}

		.card-deck {

			.card {
				@include media-breakpoint-up(md) {
					width: 50%;
				}

				.portfolio-card {

					&__content {

						&__title {

							&__details {

							}

							&__action {

							}
						}
					}
				}
			}
		}
	}
}
