// -----------------------------------------------------------------------------
// Recent Projects
// -----------------------------------------------------------------------------

.recent-projects {
	background-color: #e6e6e6;

	&--about,
	&--home {
		background-color: $light-grey;
	}

	.container {

		h2 {
			color: $dark-navy;
			margin-bottom: 50px;
		}

		.card-deck {

			.card {
				@include media-breakpoint-up(md) {
					width: 50%;
				}

				.portfolio-card {

					&__content {

						&__title {

							&__details {

							}

							&__action {

							}
						}
					}
				}
			}
		}
	}
}
