// -----------------------------------------------------------------------------
// Services Section
// -----------------------------------------------------------------------------

.services-section {
	padding-bottom: 80px;

	.container {

		h2 {
			color: $dark-navy;
			margin-bottom: 50px;
		}

		.card-deck {

			.card {

				@include media-breakpoint-up(lg) {
					margin-bottom: 0;
				}

				.services-card {
					@include service-card;

					&__content {
						display: flex;
						flex-direction: column;
						height: 100%;

						&__heading  {

							h3 {
								@include font-size(38px);
								@include hr-rule(#e6e6e6);
								line-height: 42px;
							}
						}

						&__body {
							margin-bottom: 30px;

							ul {
								margin-bottom: 0;
							}
						}

						&__footer {

							a {
								@include brand-btn($dark-navy, #fff);
							}
						}
					}

					&--visual-design {

						.services-card__content  {

							&__heading {

								h3 {
									background: -webkit-linear-gradient(-45deg, $brand-orange, $brand-dark-orange 50%);
									-webkit-background-clip: text;
									-webkit-text-fill-color: transparent;
								}
							}
						}

						&::after {
							background-image: url('../images/svg/visual-design-badge.svg');
						}
					}

					&--web-development {

						.services-card__content  {

							&__heading {

								h3 {
									background: -webkit-linear-gradient(-45deg, $brand-blue, $brand-dark-blue 50%);
									-webkit-background-clip: text;
									-webkit-text-fill-color: transparent;
								}
							}
						}

						&::after {
							background-image: url('../images/svg/web-development-badge.svg');
						}

					}

					&--photo-and-video {

						.services-card__content  {

							&__heading {

								h3 {
									background: -webkit-linear-gradient(-45deg, $brand-green, $brand-dark-green 50%);
									-webkit-background-clip: text;
									-webkit-text-fill-color: transparent;
								}
							}
						}

						&::after {
							background-image: url('../images/svg/photo-and-video-badge.svg');
						}
					}
				}
			}
		}
	}

	&--home {
		background-color: $dark-navy;
		padding: 100px 0 80px 0;
	}
}
